{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
{% endblock %}
<!-- templaten er ovrrided fra fosuserbundle -->

<h1>Your profile page:</h1>

<div class="fos_user_user_show">
    <p>{{ 'username'|trans }}: {{ user.username }}</p>
    <p>{{ 'email'|trans }}: {{ user.email }}</p>
    <p>{{ 'Bio'|trans }}: {{ user.bio }}</p>
    <p>Profile Created: {{ user.joinedAt|date('Y-m-d') }}</p>
</div>

<button type="button" class="btn"><a href="{{ path('fos_user_profile_edit') }}">Edit User</a></button>
<button type="button" class="btn"><a href="{{ path('fos_user_change_password') }}">Reset Password</a></button>
<button type="button" class="btn"><a href="{{ path('newRecipe') }}">Create Recipe</a></button>

<!-- dette table er kun muligt fordi vi har overrided hele fos controlleren i privateprofilecontroller
        table data looper igennem opskrifter i opskrift entity som brugeren har lavet. der er også buttons
        hvor man kan ændre eller slette-->
<h2>
    Created Recipees:
</h2>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Instructions</th>
            <th>Created By</th>
            <th>Edit</th>
            <th>Delete?</th>
        </tr>
        </thead>
        <tbody>
        {% for Recipe in recipes %}
        <tr>
            <td>{{ Recipe.getTitle }}</td>
            <td>{{ Recipe.getInstructions }}</td>
            <td>{{ Recipe.getUser }}</td>
            <td><button type="button" class="btn btn-success"><a href="{{ path('editrecipe', {'recipeid': Recipe.getId, 'username' : Recipe.getUser}) }}"> Edit</td>
            <td><button type="button" class="btn btn-success"><a href="{{ path('deleteRecipe', {'name': Recipe.title}) }}">Delete</a></button>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>