{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #header{
            display: flex;
            justify-content: center;
        }

        #underheader{
            display: flex;
            justify-content: center;
        }
    </style>


{% endblock %}
{% block body %}

    <div id="header" class="page-header">
        <h1>WELCOME TO STROM COOKBOK MY DEAR FRIENDS!!!</h1>
    </div>

<h3 id="underheader">
    The Table shows all created recipees:
</h3>

    <div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Recipe:</th>
            <th>Created By:</th>
            <th>Created:</th>
            <th>Get Recipe:</th>
        </tr>
        </thead>
        <tbody>
        {% for Recipe in recipes %}
            <tr>
                <td><a href="{{ path('recipename', {'recipename': Recipe.title})}}">{{ Recipe.title }}</a>
                </td>
                <td><a href="{{ path('profilename', {'profilename' : Recipe.user})}}">{{ Recipe.user }}</a>
                </td>
                <td>{{ Recipe.createdAt|date('Y-m-d') }}</td>
                <td><button type="button" class="btn btn-success">Download</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}