{% extends "base.html.twig" %}

{% block body %}
    <h1>Here is the recipees</h1>

    <div class="container">
    <table class="table table-hover">
  <thead>
  <tr>
    <th>Recipe:</th>
    <th>instructions:</th>
      <th>Created By:</th>
      <th>Created At:</th>
      <th>Get Recipe:</th>
  </tr>
  </thead>
  <tbody>
    {% for Recipe in recipees %}
          <tr>
            <td><a href="{{ path('recipename', {
                    'recipename': Recipe.title
                })}}">{{ Recipe.title }}</a>
            </td>
            <td>{{ Recipe.instructions }}</td>
              <td> {{ Recipe.user }}</td>
              <td>{{ Recipe.createdAt|date('Y-m-d') }}</td>
              <td><button type="button" class="btn btn-success">Download</button>
              </td>
          </tr>
        {% endfor %}
  </tbody>
</table>
    </div>



{% endblock %}