{% extends 'base.html.twig' %}

{% block title %}
Recipe {{ recipe.title }}
{% endblock %}

{% block stylesheets %}
    <style>
        #instructions{
            width: 25%;
        }
    </style>
{% endblock %}

{% block body %}

    <!-- recipe profilen viser den valgte opskrift der er hentet fra databasen via doctrine
         der er gemt i recipe når vi render templaten i controlleren-->

<h1>Recipe for {{ recipe.title }}</h1>
    <h2>Created By: <a href="{{ path('profilename', {'profilename' : recipe.user}) }}"> {{ recipe.user }} </a></h2>
    <h2>Created: {{ recipe.getCreatedAt|date('Y-m-d H:i:s') }}</h2>
    <h2>Last Modified: {{ recipe.modifiedAt|date('Y-m-d H:i:s') }}</h2>

    <h2>Ingredients:</h2>
    <ul>
        {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>

    <h2>Instructions: </h2>
    <p id="instructions"> {{ recipe.instructions }}</p>

    <td><button type="button" class="btn btn-success"><a>Download</a></button>

{% endblock %}